doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/reset.css")
    link(rel='stylesheet', href='css/app.css')
  body
    div#header-wrapper
      header
        h1 This is a heading
          h2 This is a subheading
    div#nav-wrapper
      nav Put some nav stuff here
    div#content-wrapper
      div.row Put content here.


script(src="js/bundle.min.js")
